<h2 id="tablename" style="padding-left: 10px">Scheduling Conflicts</h2>

<p>View Details:</p>
   <div class="acc-section"  style="width:50%; height:380px; overflow-y: scroll; padding-left: 10px">


     <!-- Kyle had the Conflicts part, if there's a different name for this first one it can be changed -->
     <button class="accordion">Advanced Programming</button>

       <div class="content" >
         <ul>

       <li>Course ID: 3900</li>
   <p>Course Name: Advanced Programming</p>
   <p>Section Number: 04</p>
   <p>Course Times: TR 1:00 - 2:30</p>
   <p>Faculty Member: Phillip rederick</p>

           <li>Course ID: 3900</li>
   <p>Course Name: Advanced Programming</p>
   <p>Section Number: 04</p>
   <p>Course Times: MWF 5:00 - 6:30</p>
   <p>Faculty Member: James Sweeny</p>

         </ul>
       </div>
     <button class="accordion">Networking</button>
       <div class="content">
         <ul>
           <li>Course ID: 2200</li>
   <p>Course Name: Networking</p>
   <p>Section Number: 02</p>
   <p>Course Times: M 3:00 - 4:30 PM</p>
   <p>Faculty Member: Bob Dylan</p>
           <li>Course ID: 2200</li>
   <p>Course Name: Networking</p>
   <p>Section Number: 02</p>
   <p>Course Times: TR 8:00 - 9:30 AM</p>
   <p>Faculty Member: Jeffery Plague</p>
         </ul>
       </div>
     <button class="accordion">Algebra 2</button>
       <div class="content">
         <ul>
           <li>Course ID: 1100</li>
   <p>Course Name: Algebra 2</p>
   <p>Section Number: 01</p>
   <p>Course Times: MWF 6:00 - 8:30 AM</p>
   <p>Faculty Member: Norman Hughes</p>

   <li>Course ID: 1100</li>
   <p>Course Name: Algebra 2</p>
   <p>Section Number: 01</p>
   <p>Course Times: TR 4:00 - 6:30 PM</p>
   <p>Faculty Member: Norman Hughes</p>
         </ul>
       </div>
     <button class="accordion">Chemistry</button>
       <div class="content">
         <ul>
           <li>Course ID: 4500</li>
   <p>Course Name: Chemistry</p>
   <p>Section Number: 05</p>
   <p>Course Times: M 1:00 - 3:30 PM</p>
   <p>Faculty Member: Jessie Fuller</p>
           <li>Course ID: 4500</li>
   <p>Course Name: Chemistry</p>
   <p>Section Number: 05</p>
   <p>Course Times: TR 12:00 - 2:30 PM</p>
   <p>Faculty Member: Margret Johnson</p>
         </ul>
       </div>
   </div>
 <!-- <button class="reportbtn" (click)="showPopup()">Send Conflict Report to Scheduler</button>
 <button type=button class="btn btn-primary"  (click)="clickMethod('name')">Delete me</button> -->



