<style>
    #myInput {
        background-image: url("assets/searchicon.png");
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
</style>
<span>

    <h3 id="tablename">Courses Offered This Semester</h3>
</span>

<div>
   
</div>
<div class="shipping-item" style="width: 500px">
    <span><b>Course No</b></span>
    <span><b>Title</b></span>
   
</div>
<div style="height:500px; width: 500px;overflow-y: scroll;">

    <div class="shipping-item" *ngFor="let course of courseList | async |courses" 
    (click)="navigateCalendar(course) ">
    <!-- [class.selected]="course.CRSENO === selectedCRSENO">
    <a [routerLink]="['/course', course.CRSENO]"> -->
        

        <span>{{ course.CRSENO }}</span>
        <span>{{ course.TITLE }}</span>


    </div>
</div>

