.header{
	overflow:hidden;
  background-color: #02754E;

}

.header h1 {
  float:center;
	color: #ffffff;
  text-align: center;
  padding: 0px 8px;
  font-family: "monospace";
  font-variant: small-caps;
}

.accordion{
  background-color: #eee;
  color: rgb(241, 3, 3);
  cursor: pointer;
  padding: 18px;
  width: 30%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.accordion:hover {
  background-color: #484;
}

.accordion a{
  text-decoration: none;
  color: black;
}

.content {
  width: 30%;
  display: none;
  overflow: hidden;
  background-color: silver;
}

.searchbar{
	background-color: silver;
	display: block;
	padding: 10px;
	border: groove;
	width: max-content;
}


.navbar {
	float:right;
  padding: 5px 5px;
  border-radius: 2px;
  background-color: #ffff;
  
}

.navbar a {
    color: #02754E;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    background-color: #EEEEEE;
    border-style: solid;
    border-color: #ffff;
		border-radius: 2px;
  }
	/* Change color on hover */
.navbar a:hover {
    background-color: #02754E;
    color: white;
 }

 .searchbar a {
     color: #00704a;
     text-align: center;
     padding: 3px 3px;
     text-decoration: none;
     background-color: silver;
		 border-style: solid;
		 border-color: black;
		 border-width:2px;
   }

	 .searchbar a:hover {
	     background-color: #00704a;
	     color: black;
	  }

    /* CourseList, CourseList details */

.shipping-item {
  
  min-width: 350px;
  max-width: 500px;
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
   /* float: left; */

  background-color: #EEEEEE;
}