<div style="padding-left: 20px;">
<div class="mod-header" style="float:left;">
  <nav class="navbar">
    <a routerLink='./full-courselist/courses'>Manage Course Sections  </a>
    <a routerLink='./calendar'>Full view</a>
    <a routerLink='./schedule-conflicts'>Conflicts</a>
    <a routerLink='./upload-sheet'>Upload</a>
    <!-- <a routerLink='./full-courselist/course-sections'>Section</a> -->
    <!-- <a routerLink='./schedule-conflicts'>Scheduling Conflicts</a>
    <a routerLink='./faculty-issues'>Faculty Account Issues</a> -->
    <!-- <a routerLink='./'>Main Page</a> -->
    <a routerLink='./faculty-issues'>Main Page</a>
</nav>
</div>
<br/>
<br/>
<br/>


  <router-outlet></router-outlet>

</div>


